.v-leave {
    opacity: 1;
}

.v-leave-active {
    transition: opacity 1s;
}

.v-leave-to {
    opacity: 0;
}

.v-enter {
    opacity: 0;
}

.v-enter-active {
    transition: opacity 0.5s;
}

.v-enter-to {
    opacity: 1;
}