.menu {
    display: inline-block;
    font: 14px/1.5 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    border-top-style: solid;
    border-color: rgb(10, 10, 61);
    text-align: center;
}

.menu a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.menu li {
    display: block;
    float: left;
    position: relative;
    background: #222;
    color: #fff;
    min-width: 180px;
    z-index: 10;
}

.menu li ul {
    position: absolute;
    left: 0;
    top: 61px;
    margin: 0;
    padding: 0;
}

.menu li ul li {
    background: #333;
    transition: background .2s;
}

.menu li ul li:hover {
    background: #444;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}